:host {
  display: block;
  width: 100%;
}

.labels-container {
  margin: 0 auto;
}

.actions {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

mat-panel-title:hover .actions,
mat-expansion-panel-header:hover .actions,
mat-list-item:hover .actions {
  opacity: 1;
}

mat-panel-title {
  display: flex;
  width: 100%;
}

::ng-deep mat-list-item .mat-list-item-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
